<ngx-breadcrumbs [items]="breadcrumbs">
</ngx-breadcrumbs>
<nb-card>
  <nb-card-body>
    <p>Mi smo Muzej Automobila. </p>

    <p>Skupina entuzijasta automobila koja ima cilj očuvanja svih automobila. </p>

    <p>Automobile koje možete vidjeti u našoj kolekciji dio pripadaju nama, a dio vlasnika čuva automobile kod nas.</p>

    <p> Naš asortiman je bogat i raznovrstan. Može se naći nešto za svakoga. </p>

    <p> Od modernih jurilica do klasičnih automobila. </p>
    <img src="../../../../assets/images/car-about.png"/>
  </nb-card-body>
</nb-card>
