<ngx-breadcrumbs [items]="breadcrumbs">
</ngx-breadcrumbs>
<nb-card>
  <nb-card-header>
    <h3>Popis zaposlenika</h3>
  </nb-card-header>
  <nb-card-body>
    <h6>Filteri</h6>
    <div class="filters row no-gutters">
      <div class="form-group col-2 mr-2">
        <input nbInput fullWidth type="text" placeholder="Ime i prezime">
      </div>
      <div class="form-group col-2 mr-2">
        <input fullWidth id="dob" nbInput placeholder="Datum rođenja" [nbDatepicker]="dobDatePicker">
        <nb-datepicker #dobDatePicker></nb-datepicker>
      </div>
      <div class="form-group col-2 mr-2">
        <input nbInput fullWidth type="text" placeholder="Adresa stanovanja">
      </div>
      <div class="form-group col-2 mr-2">
        <input fullWidth id="dob" nbInput placeholder="Datum zaposlenja" [nbDatepicker]="employmentDatePicker">
        <nb-datepicker #employmentDatePicker></nb-datepicker>
      </div>
      <div class="form-group col-2">
        <input nbInput fullWidth type="text" placeholder="OIB">
      </div>
    </div>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="data">
      <ngx-datatable-column [width]="50" name="photo" prop="photo" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex justify-content-center">
            <img class="image-car-table" [src]="row.photo" />
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="fullname" prop="fullname" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Ime i prezime
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.fullname}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="dob" prop="dob" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Datum rođenja
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.dob}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="address" prop="address" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Adresa stanovanja
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.address}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="employment_date" prop="employment_date" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Datum zaposlenja
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.employment_date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="oib" prop="oib" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            OIB
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.oib}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions" prop="owner" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>
            Akcije
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex">
            <button class="mr-2" nbButton status="warning" size="medium">
              <nb-icon icon="edit"></nb-icon>
            </button>
            <button nbButton status="danger" size="medium">
              <nb-icon icon="trash"></nb-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
