<ngx-breadcrumbs [items]="breadcrumbs">
</ngx-breadcrumbs>
<nb-card>
  <nb-card-header>
    <h3>Popis motora</h3>
  </nb-card-header>
  <nb-card-body>
    <h6>Filteri</h6>
    <form class="row align-items-end no-gutters filters" [formGroup]="filterForm">
      <div class="form-group col-2 mr-2">
        <label>Naziv</label>
        <input fieldSize="small" nbInput fullWidth formControlName="name" type="text" >
      </div>
      <div class="form-group col-2 mr-2">
        <label>Vrsta goriva</label>
        <input fieldSize="small" nbInput fullWidth formControlName="name" type="text" >
      </div>
      <div class="form-group mr-2">
        <button nbButton status="success" (click)="onSubmitFilters()" size="small">Pretraga</button>
      </div>
      <div class="form-group">
        <button nbButton status="danger" (click)="onClearFilters()" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </form>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true" [limit]="page.size" [count]="page.totalElements" [offset]="page.currentPage - 1" [rows]="rows" (page)="setPage($event)" (sort)="onSortRows($event)">
      <ngx-datatable-column name="name" prop="name" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Naziv
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="manufacturer" prop="manufacturer" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Proizvođač
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.maker.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="fuel" prop="fuel" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Vrsta goriva
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.type}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="horsepower" prop="horsepower" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Konjska snaga
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.power}} hp
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="torque" prop="torque" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Obrtni moment
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.torque}} (Nm/rpm)
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions" prop="owner" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>
            Akcije
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="d-flex">
                <button *ngIf="isEmployee" routerLink="/pages/engines/{{row.id}}/edit" class="mr-2" nbButton status="warning" size="medium">
                    <nb-icon icon="edit"></nb-icon>
                </button>
                <button *ngIf="isEmployee" nbButton status="danger" size="medium">
                    <nb-icon icon="trash"></nb-icon>
                </button>
            </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
