<ngx-breadcrumbs [items]="breadcrumbs">
</ngx-breadcrumbs>
<nb-card>
  <nb-card-header>
    <h3>Popis automobila</h3>
  </nb-card-header>
  <nb-card-body>
    <h6>Filteri</h6>
    <form class="row align-items-end no-gutters filters" [formGroup]="filterForm">
      <div class="form-group col-2 mr-2">
        <label>Naziv</label>
        <input fieldSize="small" nbInput fullWidth formControlName="name" type="text" >
      </div>
      <div class="form-group col-2 mr-2">
        <label>Boja</label>
        <input fieldSize="small" nbInput fullWidth formControlName="color" type="text" >
      </div>
      <div class="form-group col-2 mr-2">
        <label>Datum proizvodnje</label>
        <input fieldSize="small" fullWidth id="dob" formControlName="manufactureDate" nbInput [nbDatepicker]="dateOfCreationPicker" placeholder="Odaberi datum">
        <nb-datepicker dateFormat="dd.MM.yyyy" #dateOfCreationPicker></nb-datepicker>
      </div>
      <div class="form-group">
        <button nbButton status="danger" (click)="onClearFilters()" size="small">
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </form>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [externalSorting]="true" [limit]="page.size" [count]="page.totalElements" [offset]="page.currentPage - 1" [rows]="rows" (page)="setPage($event)" (sort)="onSortRows($event)">
      <ngx-datatable-column [width]="50" name="owner" prop="owner" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex justify-content-center">
            <img class="image-car-table" [src]="row.image" />
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="maker" prop="maker" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Proizvodač
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.maker.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="name" prop="name" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Naziv modela
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="manufactureDate" prop="manufactureDate" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Datum proizvodnje
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.manufactureDate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="owner" prop="owner" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Vlasnik
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.owner.firstName + " " + row.owner.lastName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="owner" prop="owner" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span (click)="sort()">
            Motor
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.motor.name}}, {{row.motor.maker.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions" prop="actions" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
          <span>
            Akcije
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex">
              <button routerLink="/pages/engines/{{row.id}}/edit" class="mr-2" nbButton status="warning" size="medium">
                  <nb-icon icon="edit"></nb-icon>
              </button>
              <button nbButton status="danger" size="medium">
                  <nb-icon icon="trash"></nb-icon>
              </button>
          </div>
      </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
